<!DOCTYPE html>
<html lang="en">
         <!-- passing the paritial file to the html file -->
        <%- include('./partials/head.ejs') %>

<body>
        <!-- passing the paritial file to the html file -->
         <%- include('./partials/nav.ejs') %>


           <div class="404-not-found">
            <h1>404</h1>
            <p> OOPS, Page not found </p>
           </div>

     <!-- passing the paritial file to the html file -->
      <%- include('./partials/footer.ejs') %>


</body>
</html>