<!DOCTYPE html>
<html lang="en">
   
         <!-- passing the paritial file to the html file -->
          <%- include('./partials/head.ejs') %>
          
<body>
            <!-- passing the paritial file to the html file -->
             <%- include('./partials/nav.ejs') %>



          <div class="about-content">
            <h2>About NodeJS</h2>
            <p> NodeJS is a JavaScript runtime built on Chrome's V8 JavaScript 
                engine. NodeJS is used for building server-side applications.
                NodeJS uses an event-driven, non-blocking I/O model that 
                makes it lightweight and efficient.
                NodeJS is used for building real-time,
                high-performance applications such as chat applications,
                 web applications, and APIs.</p>
          </div>


     <!-- passing the paritial file to the html file -->
      <%- include('./partials/footer.ejs') %>

</body>
</html>