body {
    background: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.delete {
    background-color: skyblue;
    color: white;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
}